* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(3,0,31);
  color: white;
  font-family: "poppins", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.sideBar{
  flex: 3;
  border-right: 1px solid rgb(100, 100, 100);
}

.main{
  flex: 9;
}

.logo{
  margin-right: 1rem
}

.brand{
  font-size: 2rem;
  margin-left: 1rem;
}

.upperSide{
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  height: 70%;
}

.upperSideTop{
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.addBtn{
  height: 2.5rem;
  padding-right: 1rem;
}

.midBtn {
  background: #5A4BFF;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  Width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}

.query{
  display: flex;
  align-items: center;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgb(100, 100, 100);
}

.query>img{
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide{
  padding: 2.5rem;
}

.listItems{
  display: flex;
  align-items: center;
  margin: 0.75rem;
  font-size: 1.3rem;
}

.listItemsImg{
  margin: 1rem;
  padding-right: 1rem;
}

.listItems:nth-child(1){
  margin-right: 0.5rem
}

.listItems:nth-child(3){
  margin-left: 0.75rem
}

.main{
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0;

}

.chats{
  overflow: hidden;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 17rem);
}

.chat{
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 2rem 3rem;
  text-align: justify;
}

.chatImg{
  margin-right: 2rem;
  object-fit: cover;
  width: 3.5rem;
  border-radius: 0.5rem;
}

.chatFooter{
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bot{
  background: rgba(28,30,58,1);
  width: fit-content;
  border-radius: 0.5rem;;

}

.inp{
  padding: 0.5rem;
  background: rgba(28,30,58,1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
}

.inp>input , .send {
  background: transparent;
  border: none;
}


.inp>input{
width: calc(100% - 3rem);
outline: none;
padding: 1rem;
color: white;
}
/* 
.inp>input{
  background: transparent;
  border: none;

} */

.chatFooter{
  margin: 2rem;
}